@charset "ISO-8859-1";
body
{
	background-color: #c0c0c0;
}
img
{
	margin-left:30%;
	width: 500px;
	height:120px;
}

.bar
{
	margin-top:40px;
	display: flex; 
	flex-direction: row;	
	flex-wrap:wrap;
	border:2px solid black;
	margin-left:5%;
	margin-right:5%;
}
.childLink
{
	flex-grow: 1;
	padding:8px;
	margin-left:57px;
	position: inherit;
	display:block;
	font-size: 25px;
}
#form
{
	margin-left: 25%;
}
.logSession
{
	font-size: 20px;
}

#out
{
	padding:8px 14px 8px 14px;	
}
#login
{
	padding:8px 14px 8px 14px;
}

